@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#main-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

#content {
  flex-grow: 1;
}